.page-footer {
  padding: 60px 0;
  margin: 0;
  background-color: $bg-footer;
}

.nav-footer {
  @media screen and(min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and(min-width: 1200px) {
  flex-wrap: nowrap;
  justify-content: space-between;
  }
}

.size-footer {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width: 1200px) {
    align-items: flex-start;
    margin-bottom: unset;
  }
}

.size-footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width: 1200px) {
   align-items: flex-start;
  }
}

.size-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.size-footer__link {
  display: block;
  
  color: $primary-white-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  &:hover,
  &:focus {
  color: $accent-color;
}
}

.size-footer__title {
  display: block;

  color: $footer-text;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  &:hover,
  &:focus {
  color: $accent-color;
}
}

/* Social-footer */

.social-footer {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width: 1200px) {
    align-items: flex-start;
    margin-bottom: unset;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
  margin: 0 0 20px 0;
}

.social-footer__list {
  display: flex;
}

.social-footer__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $bg-icons;
  color: $primary-white-color;
  margin: 0;
  cursor: pointer;

  @include transition(background-color);
}

.social-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-footer__link:hover,
.social-footer__link:focus {
  background-color: $accent-color;
}

.social-footer__icon {
  fill: currentColor;
}

/* Footer-form */

.footer-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @media screen and(min-width: 1200px) {
    display: block;
    width: 50%;
    align-items: flex-start;
  }
}

.footer-form__form-input {
  width: 100%;
  padding: 15px 16px;

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: $footer-text;
  margin-bottom: 20px;
  @include transition(border);

  &:hover,
  &:focus {
  border: 1px solid $accent-color;
 }

 @media screen and(min-width: 768px) {
  width: 450px;
  }
  @media screen and(min-width: 1200px) {
  width: 358px;
  margin-bottom: unset;
  margin-right: 12px;
  }
}

.btn--subscribe {
  display: inline-block;
  align-items: center;
  padding: 10px 29px;
}

.icon--subscribe {
  margin-left: 10px;
  vertical-align: middle;

  fill: $primary-white-color;
}